# Managing Iceberg tables

In this part of the workshop we'll look at the different ways Iceberg enables you to optimize and maintain your tables.

You can learn more in the Iceberg [documentation](https://iceberg.apache.org/docs/latest/spark-procedures/#metadata-management).

### Starting Spark

Start Spark and connect to your Lakekeeper Catalog.

```NOTE: Only run these if you're starting from scratch. If you ran the Spark notebook, you don't need to execute these two cells```

In [5]:
import pyspark
from pyspark.conf import SparkConf
from pyspark.sql import SparkSession
import pandas as pd

# This CATALOG_URL works for the "docker compose" testing and development environment
# Change 'server' if you are not running on "docker compose" (f. ex. 'localhost' if Lakekeeper is running locally).
CATALOG_URL = "http://server:8181/catalog"
WAREHOUSE = "demo"
MY_NAMESPACE = "my_db"

SPARK_VERSION = pyspark.__version__
SPARK_MINOR_VERSION = '.'.join(SPARK_VERSION.split('.')[:2])
ICEBERG_VERSION = "1.8.1"

In [6]:
# Configures the Iceberg catalog (Lakekeeper) and loads the Iceberg library
# NOTE: no credentials are being passed. The catalog automatically assigned temp credentials per session
config = {
    f"spark.sql.catalog.lakekeeper": "org.apache.iceberg.spark.SparkCatalog",
    f"spark.sql.catalog.lakekeeper.type": "rest",
    f"spark.sql.catalog.lakekeeper.uri": CATALOG_URL,
    f"spark.sql.catalog.lakekeeper.warehouse": WAREHOUSE,
    f"spark.sql.catalog.lakekeeper.io-impl": "org.apache.iceberg.aws.s3.S3FileIO",
    "spark.sql.extensions": "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions",
    "spark.sql.defaultCatalog": "lakekeeper",
    "spark.jars.packages": f"org.apache.iceberg:iceberg-spark-runtime-{SPARK_MINOR_VERSION}_2.12:{ICEBERG_VERSION},org.apache.iceberg:iceberg-aws-bundle:{ICEBERG_VERSION}",
}

spark_config = SparkConf().setMaster('local').setAppName("Qlik-Connect-Iceberg-Workshop")
for k, v in config.items():
    spark_config = spark_config.set(k, v)

spark = SparkSession.builder.config(conf=spark_config).getOrCreate()

# Select the "lakekeeper catalog" to use in subsequent SQL operations
spark.sql("USE lakekeeper")

DataFrame[]

### Create a table and load some data

You'll create a table and load some data.  We'll then optimize these files by compacting them.

In [2]:
# Install a couple useful libraries

!pip install -q requests

We'll download some sample data, NYC Taxi, that we will use to create tables.

In [4]:
import requests
import json

### https://data.cityofnewyork.us/NYC-BigApps/Citi-Bike-System-Data/vsnr-94wk

r = requests.get('https://gbfs.citibikenyc.com/gbfs/en/station_status.json')
station_status = r.json()

with open("/home/jovyan/work/station_status.json", "w") as f:
    for item in station_status['data']['stations']:
        json.dump(item, f)
        f.write('\n\r')

f.close()

Drop any existing tables, if any, so we have a clean slate.

Use Spark DataFrames to read the sample data, parse it and then write it out to an Iceberg table called ```stations```

In [8]:
spark.sql(f'CREATE NAMESPACE IF NOT EXISTS {MY_NAMESPACE}').toPandas()
spark.sql(f'DROP TABLE IF EXISTS {MY_NAMESPACE}.stations PURGE')

df = spark.read.format("json") \
          .option("header",True) \
          .option("inferschema",True) \
          .load("/home/jovyan/work/station_status.json")

df.repartition(100).write.saveAsTable(f'{MY_NAMESPACE}.stations')

In [9]:
# Query the stations table we just created to ensure data was written

spark.sql(f'SELECT * FROM {MY_NAMESPACE}.stations limit 10').toPandas()

,eightd_has_available_keys,is_installed,is_renting,is_returning,last_reported,legacy_id,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,num_ebikes_available,num_scooters_available,num_scooters_unavailable,station_id
0,False,1,1,1,1743432869,422,1,4,112,0,1,0,0,66dc0dab-0aca-11e7-82f6-3863bb44ef7c
1,False,1,1,1,1743432802,150,30,7,47,0,4,0,0,66db2f4c-0aca-11e7-82f6-3863bb44ef7c
2,False,1,1,1,1743432770,244,0,4,47,0,0,0,0,66db3f01-0aca-11e7-82f6-3863bb44ef7c
3,False,1,1,1,1743432835,3887,8,3,9,0,6,0,0,d89dc10f-9be3-45a5-9c3c-06c04c963436
4,False,1,1,1,1743432872,5011,32,2,1,0,0,0,0,0109f17a-2378-4500-9648-88bdb31ec612
5,False,1,1,1,1743432786,3677,4,0,13,0,0,0,0,915057d4-edbc-4c73-8d81-dda33d600d58
6,False,1,1,1,1743432854,4448,13,3,3,0,6,0,0,28a2436d-a52b-4fa4-874c-e096012a926d
7,False,1,1,1,1743432885,1815968147129520346,18,1,3,0,0,0,0,1815968147129520346
8,False,1,1,1,1743432835,1978170169761096104,9,1,25,0,4,0,0,1978170169761096104
9,False,1,1,1,1743432887,3317,20,4,0,0,2,0,0,66ddef2d-0aca-11e7-82f6-3863bb44ef7c

Check how many files were created.  In this example, we forced Spark to split the data into 100 files, but in the real world this will happen naturally.

In [10]:
spark.sql(f'SELECT count(*) FROM lakekeeper.{MY_NAMESPACE}.stations.files').toPandas()

   count(1)
0       100

### Rewrite data file, aka. compaction

Compaction is an important process that combines smalls files into few larger files

We start off compacting our table by looking for 2 or more files with the smallest size.

In [11]:
ret = spark.sql(f"CALL lakekeeper.system.rewrite_data_files( \
                table => '{MY_NAMESPACE}.stations', \
                options => map('min-input-files','2', 'rewrite-job-order','bytes-asc')) \
            ")
ret.show()

+--------------------------+----------------------+---------------------+-----------------------+
|rewritten_data_files_count|added_data_files_count|rewritten_bytes_count|failed_data_files_count|
+--------------------------+----------------------+---------------------+-----------------------+
|                       100|                     1|               588160|                      0|
+--------------------------+----------------------+---------------------+-----------------------+

Inspect the `files` information table again and you'll see that we only have 1 single file now

In [12]:
spark.sql(f'SELECT count(*) FROM lakekeeper.{MY_NAMESPACE}.stations.files').toPandas()

   count(1)
0         1

*** Before starting this step, drop the table and recreate it as before so we can test out other compaction scenarios. ***

In the following compaction scenario we're sorting the data during compaction. There are bin-packing and sorting using standard ordering or zorder.
- Binpacking simply arranges bits to fit more into fewer files.
- Sorting organizes rows by sort key so similar data is colocated in the same files making reads more efficient.
- Zorder is more complex ordering that comes with its own pros/cons

In [13]:
ret = spark.sql(f"CALL lakekeeper.system.rewrite_data_files( \
                table => '{MY_NAMESPACE}.stations', \
                strategy => 'sort', \
                sort_order => 'station_id DESC NULLS LAST, legacy_id DESC NULLS LAST') \
            ")
ret.show()

+--------------------------+----------------------+---------------------+-----------------------+
|rewritten_data_files_count|added_data_files_count|rewritten_bytes_count|failed_data_files_count|
+--------------------------+----------------------+---------------------+-----------------------+
|                         0|                     0|                    0|                      0|
+--------------------------+----------------------+---------------------+-----------------------+

Another interesting optimization is to compact only those files that meet a specific filter criteria.  This is helpful when there is large skew in the data and the low cardinality data is not often compacted because it's under the file number of byte size threshold.

In [15]:
ret = spark.sql(f"CALL lakekeeper.system.rewrite_data_files(\
                table => '{MY_NAMESPACE}.stations', \
                where => 'is_installed = 1') \
            ")
ret.show()

+--------------------------+----------------------+---------------------+-----------------------+
|rewritten_data_files_count|added_data_files_count|rewritten_bytes_count|failed_data_files_count|
+--------------------------+----------------------+---------------------+-----------------------+
|                         0|                     0|                    0|                      0|
+--------------------------+----------------------+---------------------+-----------------------+

### Expiring snapshots

As you already noticed, Iceberg creates lots of snapshots to keep track of changes.  Each snapshot creates numerous manifest files that track everything about files and partitions and schemas.  Each snapshot is also maintains the full table history so you can time travel in queries. However, all of this takes up storage and cost you money.  

It's a good practice to expire old snapshots after some period of time or number of snapshots created.

First inspect your `snapshots` information table and lets see which one to expire.

In [16]:
spark.sql(f'SELECT * FROM lakekeeper.{MY_NAMESPACE}.stations.snapshots').toPandas()

,committed_at,snapshot_id,parent_id,operation,manifest_list,summary
0,2025-03-31 14:58:24.913,7826604710254824548,NaN,append,s3://examples/initial-warehouse/0195ecb5-ed6a-...,"{'engine-version': '3.5.2', 'total-equality-de..."
1,2025-03-31 14:59:00.377,7431143691552401682,7.826605e+18,replace,s3://examples/initial-warehouse/0195ecb5-ed6a-...,"{'engine-version': '3.5.2', 'added-data-files'..."

Make sure you update the command below to include the oldest snapshot ID you got from the previous command.

In [17]:
ret = spark.sql(f"CALL lakekeeper.system.expire_snapshots( \
                table => '{MY_NAMESPACE}.stations', \
                snapshot_ids => ARRAY(CHANGE_ME__SNAPSHOT_ID)) \
            ")
ret.show()

+------------------------+-----------------------------------+-----------------------------------+----------------------------+----------------------------+------------------------------+
|deleted_data_files_count|deleted_position_delete_files_count|deleted_equality_delete_files_count|deleted_manifest_files_count|deleted_manifest_lists_count|deleted_statistics_files_count|
+------------------------+-----------------------------------+-----------------------------------+----------------------------+----------------------------+------------------------------+
|                     100|                                  0|                                  0|                           1|                           1|                             0|
+------------------------+-----------------------------------+-----------------------------------+----------------------------+----------------------------+------------------------------+

Inspect the `snapshots` table again and you'll see the old snapshot was removed